@model NationBuysRealEstate.Map

@{
    ViewBag.Title = "AddMap";
    Layout = null;
}

<button type="button" class="btn btn-sm btn-default pull-right" data-dismiss="modal">X</button>
<h2>AddMap</h2>

@*@using (Html.BeginForm("UploadMap", "Admin",FormMethod.Post,))
{*@
<form role="form" action="/Admin/UploadMap" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Society_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Society_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Society_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Map_Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label class="btn btn-file btn-primary" for="file1">
                    <input type="file" name="image" id="file1" accept="image/*" onchange="loadFile(event)" />
                    Choose Image
                </label>
                @*@Html.EditorFor(model => model.Map_Image, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Map_Image, "", new { @class = "text-danger" })
            </div>
            <div class="thumbnail col-md-offset-3 col-md-7" style="margin-top:2%">
                <a href="#">
                    <label id="text1">No Image Choosen</label>
                    <img id="output1" />
                </a>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-info btn-md" />
            </div>
        </div>
    </div>
</form>
@*}*@
<script>
    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output1');
            var output1 = document.getElementById('text1');
            output1.innerText = document.getElementById('file1').files[0].name;
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>